@import url('menu.css');

/*
 * This renders the background image and renders it as static
 */
body {
    background-attachment:      fixed;
    background-image:           url('../resources/lightning.jpg');
    background-repeat:          no-repeat;
		background-position:        center center;
		background-color:           black;
		-webkit-background-size:    cover;
		-moz-background-size:       cover;
		-o-background-size:         cover;
		background-size:						cover;
		color:                      #E3E3E3;
		padding: 0;
		margin: 0;
}

/*
 * This renders the main page of the document as a semitransperant dark
 * background
 */
.main-container {
    width:                      75%;
		background-color:           #1C1C1C;
		background-color:           rgba(28,28,28,0.6);
    margin-right:               auto;
    margin-left:                auto;
		margin-top: 0;
		margin-bottom: 0;
		padding:  20px;
		-moz-border-bottom-right-radius: 20px;
		-webkit-border-bottom-right-radius: 20px;
		-khtml-border-bottom-right-radius: 20px;
		border-bottom-right-radius: 20px;
		-moz-border-bottom-left-radius: 20px;
		-webkit-border-bottom-left-radius: 20px;
		-khtml-border-bottom-left-radius: 20px;
		border-bottom-left-radius: 20px;
}

.center-doc {
}

h1 {
    font-family:                "Rockwell Extra Bold", "Rockwell Bold", monospace;
    color:                      #52CC29;
}

h2 {
    font-family:                "Rockwell Extra Bold", "Rockwell Bold", monospace;
    color:                      #52CC29;
}

h3 {
    font-family:                "Rockwell Extra Bold", "Rockwell Bold", monospace;
    color:                      #52CC29;
}

p {
  font-family:                  sans-serif;  
}

a:link, a:visited {
	text-decoration:  none;
	color:  #8DBA93;
}

a:hover, a:active {
	text-dectoration: none;
	background-color: #8DBA93;
	color: black;
}
