@import url('menu.css');
@import url('pages/about.css');
@import url('code.css');

/*
 * This renders the background image and renders it as static
 */
body {
	background-image: url('../resources/subtle_carbon.png');
	background-repeat: repeat;
	color: #C2C0C0;
	padding: 0;
	margin: 0;
}

/*
 * This renders the main page of the document as a semitransperant dark
 * background
 */
.main-container {
    width:                      75%;
		background-color:           #1C1C1C;
		background-color:           rgba(28,28,28,0.8); 
    margin-right:               auto;
    margin-left:                auto;
		margin-top: 0;
		margin-bottom: 0;
		padding:  20px;
		-moz-border-bottom-right-radius: 20px;
		-webkit-border-bottom-right-radius: 20px;
		-khtml-border-bottom-right-radius: 20px;
		border-bottom-right-radius: 20px;
		-moz-border-bottom-left-radius: 20px;
		-webkit-border-bottom-left-radius: 20px;
		-khtml-border-bottom-left-radius: 20px;
		border-bottom-left-radius: 20px;
}

/*
 * Additional code formatting.
 */
.highlight > pre {
	overflow-x: auto;
	width: 99%;
}


.center-doc {
}

h1 {
    font-family:                "Rockwell Extra Bold", "Rockwell Bold", monospace;
    color:                      #52CC29;
}

h2 {
    font-family:                "Rockwell Extra Bold", "Rockwell Bold", monospace;
    color:                      #52CC29;
}

h3 {
    font-family:                "Rockwell Extra Bold", "Rockwell Bold", monospace;
    color:                      #52CC29;
}

p {
  font-family:                  sans-serif;  
	text-shadow: 0 1px 2px #111112;
}

a:link, a:visited {
	text-decoration:  none;
	color:  #8DBA93;
}

a:hover, a:active {
	text-dectoration: none;
	background-color: #8DBA93;
	color: black;
}
