/*
 * This renders the background image and renders it as static
 */
body {
    background-attachment:      fixed;
    background-image:           url('resources/stainless-steel-fade-left.jpg'), url('resources/stainless-steel-fade-right.jpg');
    background-repeat:          no-repeat;
    background-position:        left, right;
    background-color:           black;
}

/*
 * This renders the main page of the document as a semitransperant dark
 * background
 */
.center-doc {
    width:                      75%;
    background-color:           black;
    opacity:                    0.7;
    margin-right:               auto;
    margin-left:                auto;
}

p {
    color:                      white;
}
